.bg-video {
    position: fixed; /* fixando o video no fundo da página */
    top: 0;
    left: 0;
    width: 100vw;   /* ocupando todo o tamanho da tela */
    height: 100vh;
    object-fit: cover;  /* mantem a proporcao do video na tela */
    z-index: -1;       /* fixando o vídeo atras dos outros elementos */
}

.nav-bar{
    display: flex; /* exibindo as informacoes uma do lado da outra */
    justify-content: space-between; /* espacando os itens ao maximo pra manter nas extremidades */
    padding-right: 50px;   /* garantindo espaco a direita */
}

.nav-bar a:hover{
    color: rgb(170, 169, 169); /* mudando a cor dos elementos da nav bar ao passar o mouse */
}

@media(width <= 400px) {
    .nav-bar{
        flex-direction: column; /* arrumando a nav bar para pequenas telas */
    }

    header{
        display: flex; 
        flex-direction: column; 
        align-items: center; /* centralizando o header */
    }
}

li{
    list-style-type: none;  /* removendo o marcador das listas */
}

a{
    text-decoration: none; 
    color: white; /* removendo o sublinhado dos links e definindo branco como cor padrao */
}


p {
    font-family: 'Exo 2';
    color: white;  /* padronizando os paragrafos de informacoes */
}

h1, h2 {
    color: white; /* padronizando os titulos na cor branca */
}

.conteudo-principal {
  display: flex; /* organizando as colunas uma do lado da outra */
  justify-content: space-around;   /* definindo o espaco ao redor dos elementos */
  align-items: flex-start;  /* alinhando pelo todo */
  padding: 30px;     /* definindo o espaco interno */
  gap: 40px;    /* definindo o espaco entre as colunas */
}

.coluna-foto {
  display: flex;
  flex-direction: column; /* colocando meu nome embaixo da minha foto */
  align-items: flex-start; /* definindo o alinhamento de itens */
  gap: 5px; /* definindo o espaco entre a foto e o nome */
  margin-top: 20px; /* definindo o espaco em cima da foto */
}

.coluna-sobre,
.coluna-restante,
.coluna-competencias {
  max-width: 300px; /* definindo largura maxima das colunas */
}

.profile-photo {
  width: 270px; /* definindo o tamanho da foto */
  border-radius: 10%; /* arredonda as bordas */
}

.logos-container {
    display: flex; /* colocando as logos lado a lado */
    justify-content: center; /* centralizando elas horizontalmente */
    align-items: center;  /* centralizando elas verticalmente */
    gap: 20px;  /* definindo o espaço entre as logos */
}

.logo {
    width: 40px; /* definindo a largura das logos */
    height: auto; /* definindo a altura como automatica */
    transition: transform 0.3s; /* animando quando o mouse passa por cima da logo */
}

.logo:hover {
    transform: scale(1.1); /* aumentando a logo quando passa o mouse */
}
